{% extends 'index.html' %}

{% block content %}
<div class="faq_box">
    <h2 class="text-center">Frequently Asked Questions</h2>


  <style>

   p {
       font-size: 100%;
       font-weight: 700;
       line-height: 80%;
       text-align: left;
   }


   h3 {

   line-height: 300%;
   font-weight: bolder;
   color: #A747F8;}

  h2 {

   line-height: 400%;

  }

   h4 {

       line-height: 80%;
   }

  </style>


    <h3>Что это вообще такое? </h3>

   <h6>
       <p>TaskDo представляет собой task-менеджер с элементами органайзера.</p>
       <p>Здесь Вы сможете выставить или решить задачу, отмечая deadline-ы в собственном календере, создавать группы для решения тасков, </p>
       <p>общаться, находить единомышленников и даже играть, не забывая про необходимый отдых.</p>
       <p>Новеший интерфейс, простой в использовании и красивый дизайн значительно облегчают Вашу работу.</p>
       <p>Разработчики убрали всё самое ненужное, дабы не тратить Ваше время на изучение платформы и не усложнять алгоритм работы с ней. </p>
       <p>Благодаря этому, TaskDo является прекрасным выбором для публикации и решения задач. </p>
    </h6>

        <h3>Как создать свой собственный проект? </h3>

    <p>В левом верхнем углу (верхняя строчка меню) наведите мышку на Projects.</p>
    <p>Выберите creat.</p>
    <p>Придумайте подходящее название и дайте проекту нужное описание. </p>
    <p>Чтобы посмотреть все свои пректы - в Меню выберите All Projects.</p>


        <h3>Как создать свою команду? </h3>

    <p>В меню выбираете раздел Teams.</p>
    <p>Далее Create Team.</p>
    <p>Также даёте команде подходящее название и описание.</p>
       <p> Добавляете участников.</p>

    <h3> Как корректировать профиль? </h3>

   <p> Нажмите на Ваше имя в правом верхнем углу. </p>
    <p> Выберите Profile. Выберите какие изменения собираетесь делать. </p>
    <p> Нажмите на кнопку с выбранными изменениями и сделайте их. Сохраните. </p>
    <p>Вы успешно сохранили данные.</p>

    <div class="box">
    </div>
</div>
{% endblock content %}
